{% load static %}



<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'blog/css/blog.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'blog/css/dupa.css' %}" />
        <!--<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">-->

        <title>Django Girls blog</title>
    </head>
    <body>
    <h2>test h2</h2>
    <img src="/static/play.jpg" alt="play" />
    {%for art in article%}
    <div>
        <p>published: {{art.pub_date}}</p>
        <h1>{{art.title}}</h1>
        <p>{{art.text | linebreaksbr}}</p>
    </div>
    {% endfor %}
    </body>
</html>